{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "singleQuote": false,
        "quoteProps": "as-needed"
      }
    },
    {
      "files": "*.json",
      "options": {
        "quoteProps": "as-needed"
      }
    }
  ]
}
